#vue_init_pc_web
/vue_init_pc_web/.DS_Store
/vue_init_pc_web/node_modules
/vue_init_pc_web/dist

/vue_init_pc_web/tests/e2e/videos/
/vue_init_pc_web/tests/e2e/screenshots/

# local env files
/vue_init_pc_web/.env.local
/vue_init_pc_web/.env.*.local

# Log files
/vue_init_pc_web/npm-debug.log*
/vue_init_pc_web/yarn-debug.log*
/vue_init_pc_web/yarn-error.log*

# Editor directories and files
/vue_init_pc_web/.idea
/vue_init_pc_web/.vscode
/vue_init_pc_web/*.suo
/vue_init_pc_web/*.ntvs*
/vue_init_pc_web/*.njsproj
/vue_init_pc_web/*.sln
/vue_init_pc_web/*.sw*
